@import url(./satoshi.css);

/* font-family: 'Satoshi-Variable';
font-family: 'Satoshi-VariableItalic';
font-family: 'Satoshi-Light';
font-family: 'Satoshi-LightItalic';
font-family: 'Satoshi-Regular';
font-family: 'Satoshi-Italic';
font-family: 'Satoshi-Medium';
font-family: 'Satoshi-MediumItalic';
font-family: 'Satoshi-Bold';
font-family: 'Satoshi-BoldItalic';
font-family: 'Satoshi-Black';
font-family: 'Satoshi-BlackItalic'; */

/* Grid */
.layout{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Widgets */
section {
  /* padding: .5em; */
  /* Relative Parent. Absolute Child */
  /* position: relative; */
}

/* Time */
.time {
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  background: rgba(255, 248, 242, 1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: .2em;
  align-items: center;
  max-width: 700px;
  border-radius: 20px;
}

.weather-heading{
  font-family: 'Satoshi-Variable';
  font-size: 3.5em;
}



.temp {
  font-family: 'Satoshi-Bold';
  font-size: 7em;
  /* font-size: clamp(1.5em, 5em, 8rem); */
  /* background: red; */

}

.information{
  padding: .5em;
}

.description{
  display: block;
  /* background: yellow; */
  font-family: 'Satoshi-Medium';
  font-size: clamp(.9rem, 2.5vw, 3rem);
}

.city {
  display: block;
  font-family: 'Satoshi-Light';
  font-size: clamp(1rem, 2vw, 3rem);
}


.weather img {
  max-width: 40%;
  position: relative;
  top: -30%;
}

@media (min-width: 0px) and (max-width: 320px) {
  .temp {
    font-size: 2.5em;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .temp {
    font-size: 5em;
  }

}

