@import url(./satoshi.css);

/* font-family: 'Satoshi-Variable';
font-family: 'Satoshi-VariableItalic';
font-family: 'Satoshi-Light';
font-family: 'Satoshi-LightItalic';
font-family: 'Satoshi-Regular';
font-family: 'Satoshi-Italic';
font-family: 'Satoshi-Medium';
font-family: 'Satoshi-MediumItalic';
font-family: 'Satoshi-Bold';
font-family: 'Satoshi-BoldItalic';
font-family: 'Satoshi-Black';
font-family: 'Satoshi-BlackItalic'; */

* {
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: purple;
  height: 100vh;
}

/* Grid */
.layout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-width: 320px;
  max-width: 700px;
  background: yellow;
}

/* Widgets */
section {
  /* padding: .5em; */
  /* Relative Parent. Absolute Child */
  /* position: relative; */
}

/* Time */
.time {
  grid-area: 2 / 1 / 3 / 2; 
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.time>time{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: 'Satoshi-Bold';
  font-size: 2.5em;
  height: 100%;
  /* background: gray; */
}

.bar{
  width: 20px;
  height: 60%;
  background: black;
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  background: red;
  width: 100%;
  grid-area: 2 / 2 / 3 / 3;
}

.date>time{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1em;
}

.main-date{
  font-family: 'Satoshi-Medium';
  font-size: clamp(3rem, 2.5vw, 4rem);
  padding: .25em;
}

.sub-date{
  font-family: 'Satoshi-Bold';
  font-size: clamp(5rem, 2.5vw, 7rem);
}

.month {
}

.dayOfMonth {
  display: block;
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  grid-area: 1 / 1 / 2 / 3;
  /* background: rgb(0, 145, 255); */
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: .2em;
  align-items: center;
  /* max-width: 700px; */
  /* border-radius: 20px; */
  color: black;
}

.weather-heading{
  font-family: 'Satoshi-Variable';
  font-size: 3.5em;
}



.temp {
  font-family: 'Satoshi-Bold';
  font-size: 7em;
  /* font-size: clamp(1.5em, 5em, 8rem); */
  /* background: red; */

}

.information{
  padding: .5em;
}

.description{
  display: block;
  /* background: yellow; */
  font-family: 'Satoshi-Medium';
  font-size: clamp(.9rem, 2.5vw, 3rem);
}

.city {
  display: block;
  font-family: 'Satoshi-Light';
  font-size: clamp(1rem, 2vw, 3rem);
}


.weather img {
  max-width: 40%;
  /* position: relative; */
  /* top: -30%; */
}

@media (min-width: 0px) and (max-width: 320px) {
  .layout{
    height: 100vh;
  }
  body{
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }
  
  .weather {
    grid-area: 1 / 1 / 2 / 2;
    gap: 0;;
  }


  .temp{
    font-size: 2em;
  }

  .weather img{
    top:0;
  }
  .time{
    grid-area: 2 / 1 / 3 / 2;
    justify-content: space-evenly;
  }

  .date{
    font-size: 2em;
    grid-area: 3 / 1 / 4 / 2;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .temp {
    font-size: 5em;
  }

  .main-date{
    font-size: 2em;
  }

  .sub-date{
    font-size: 4em;;
  }

  .time>time{
    font-size: 2.5em;
  }
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 3 / 1 / 4 / 2; } 

