/* Grid */
.layout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

/* Widgets */
section {
  background: lightgray;
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

/* Time */
.time {
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  
}

.city {
  
}

.temp {
  
}

.weather img {
  
}
