@import url(./satoshi.css);


* {
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #98C1D9;

  height: 100vh;
}

/* Grid */
.layout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  min-width: 320px;
  max-width: 1920px;
}

/*-------------------------------------- Weather --------------------------------------*/
.weather {
  grid-area: 1 / 1 / 2 / 3;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
  gap: .2em;
  background: #E0FBFC;
  color: #293241;
  position: relative;
}

.weather-heading{
  font-family: 'Satoshi-Variable';
  font-size: 3.5em;
}



.temp {
  font-family: 'Satoshi-Bold';
  font-size: 7em;

}

.information{
  padding: .5em;
}

.description{
  display: block;
  font-family: 'Satoshi-Medium';
  font-size: clamp(.9rem, 2.5vw, 3rem);
}

.feels-like{
  display: block;
  font-family: 'Satoshi-light';
  font-size: clamp(1rem, 1.2vw, 3rem);
  margin-top: .5em;
  color: #EE6C4D;
}

.city {
  display: block;
  font-family: 'Satoshi-Regular';
  font-size: clamp(1rem, 2vw, 3rem);
}


.weather img {
  max-width: 40%;
}

.btn-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}

.temp-button{
  background: none;
  border: none;
  font-family: 'Satoshi-Bold';
  font-size: 1.5em;
  color: #293241;
}

.btn-selected{
  color: #EE6C4D;
}
/*-------------------------------------- End-Weather --------------------------------------*/


/*-------------------------------------- Time --------------------------------------*/
.time {
  grid-area: 2 / 1 / 3 / 2; 

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  
  background: #EE6C4D;
}

.time>time{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  height: 100%;
  font-family: 'Satoshi-Bold';
  font-size: 2.5em;
}

/*-------------------------- Clock --------------------------*/
.clock-wrapper{
  padding: .5em;
}

.clock{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 300px;

  background: url(../assets/clock.png);
  background-size: cover;
  background-color: #293241;

  border: 8px solid #e9e6e6;
  border-radius: 50%;

  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
              inset 0 -15px 15px rgba(255, 255, 255, 0.05),
              0 15px 15px rgba(0, 0, 0, 0.3),
              inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.clock::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 100;
}

.clock .hour,
.clock .min,
.clock .sec
{
  position: absolute;
}

.clock .hour, .hr{
  width: 160px;
  height: 160px;
}

.clock .min, .mn{
  width: 160px;
  height: 160px;
}

.clock .sec, .sc{
  width: 230px;
  height: 230px;
}

.hr, .mn, .sc{
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr:before{
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.mn:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.sc:before{
  content: '';
  position: absolute;
  width: 2px;
  height: 150px;
  background: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

/*-------------------------------------- End-Time --------------------------------------*/

/*-------------------------------------- Date --------------------------------------*/
.date {
  background: #293241;
  width: 100%;
  grid-area: 2 / 2 / 3 / 3;
  color: #EE6C4D;
}

.date>time{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
 
  height: 100%;
  padding: 1em;
}

.main-date{
  font-family: 'Satoshi-Medium';
  font-size: clamp(3rem, 2.5vw, 4rem);
  padding: .25em;
}

.sub-date{
  font-family: 'Satoshi-Bold';
  font-size: clamp(5rem, 40vw, 7rem);
}

.dayOfMonth {
  display: block;
}

/*-------------------------------------- End-Date --------------------------------------*/


@media (min-width: 0px) and (max-width: 320px) {
  body{
    align-items: center;
    height: 100vh;
  }

  .layout{
    height: 100%;
  }
  
  .weather {
    grid-area: 1 / 1 / 2 / 2;
    gap: 0;;
    height: calc(100vh/3);
    min-height: 150px;
  }

  .sub-date{
    font-size: clamp(5rem, 2.5vw, 7rem);
  }


  .temp{
    font-size: 2em;
  }

  .time{
    grid-area: 2 / 1 / 3 / 2;
    justify-content: space-evenly;
    height: calc(100vh/3);
    min-height: 150px;
  }

  .date{
    font-size: 2em;
    grid-area: 3 / 1 / 4 / 2;
    height: calc(100vh/3);
    min-height: 150px;
  }

  .clock{
    width: 150px;
    height: 150px;
  }

  .clock .hour, .hr{
    width: 90px;
    height: 90px;
  }
  
  .clock .min, .mn{
    width: 90px;
    height: 90px;
  }
  
  .clock .sec, .sc{
    width: 130px;
    height: 130px;
  }

  .hr:before{
    width: 4px;
    height: 45px;  
  }
  
  .mn:before{
    width: 2px;
    height: 50px;
  }
  
  .sc:before{
    width: 1px;
    height: 85px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  body{
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .layout{
    height: 100vh;
    width: 100vw;
  }
  
  .weather {
    grid-area: 1 / 1 / 2 / 2;
    width: 100vw;
    height: calc(100vh/3);
    min-height: 200px;
    flex-flow: column wrap;
    gap: 0;;
  }

  .time{
    grid-area: 2 / 1 / 3 / 2;
    justify-content: space-evenly;
    width: 100vw;
    height: calc(100vh/3);
    min-height: 200px;
  }

  .date{
    font-size: 2em;
    grid-area: 3 / 1 / 4 / 2;
    width: 100vw;
    height: calc(100vh/3);
    min-height: 200px;
  }


  .temp {
    font-size: 5em;
  }
  .main-date{
    font-size: 2em;
  }

  .sub-date{
    font-size: 4em;;
  }

  .time>time{
    font-size: 2.5em;
  }
  
  .clock{
    width: 200px;
    height: 200px;
  }

  .clock .hour, .hr{
    width: 90px;
    height: 90px;
  }
  
  .clock .min, .mn{
    width: 90px;
    height: 90px;
  }
  
  .clock .sec, .sc{
    width: 130px;
    height: 130px;
  }

  .hr:before{
    width: 4px;
    height: 45px;  
  }
  
  .mn:before{
    width: 2px;
    height: 50px;
  }
  
  .sc:before{
    width: 1px;
    height: 85px;
  }
}

